<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail Sender</title>
    <script src="js/angular.js"></script>
    <script src="js/angular-block-ui.js"></script>
    <script src="js/app.js"></script>

    <link href="css/angular-block-ui.css" rel="stylesheet"/>
    <link href="css/semantic.min.css" rel="stylesheet"/>
</head>
<body ng-app="myApp">
<h2>Отправка писем</h2>
<div ng-controller="myCtrl">
    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label for="mailFrom">
                    От кого:
                    <input type="text" id="mailFrom" ng-model="mailFrom">
                </label>
            </div>
            <div class="field">
                <label for="mailTo">
                    Кому:
                    <textarea rows="10" cols="30" id="mailTo" ng-model="mailTo"></textarea>
                </label>
            </div>
            <div class="field">
                <label for="subject">
                    Тема:
                    <input type="text" id="subject" ng-model="subject">
                </label>
            </div>
            <div class="field">
                <label for="mailText">
                    Текст:
                    <textarea rows="20" cols="70" id="mailText" ng-model="mailText"></textarea>
                </label>
            </div>
            <div class="field">
                <div>
                    <label for="mailFile" class="ui icon button">
                        <i class="file icon"></i>
                        Загрузить файлы</label>
                    <input type="file" id="mailFile" file-model="mailFiles" multiple style="display:none">
                </div>
            </div>
            <div class="field">
                <ul ng-repeat="mailFile in mailFiles">
                    <li>{{mailFile.name}}</li>
                </ul>
            </div>
            <button class="ui inverted violet button" ng-click="sendMails()">Отправить письма</button>
        </form>
    </div>
    <table class="ui celled table" ng-show="sendResult != null">
        <thead>
        <tr>
            <th>Адрес</th>
            <th>Сообщение об ошибке</th>
        </tr>
        </thead>
        <tr ng-repeat="(key, value) in sendResult" ng-class="value.code == 0 ? 'positive':'negative'">
            <td>{{key}}</td>
            <td>{{value.msg}}<i class="icon" ng-class="value.msg ? '' : 'large green checkmark'"></i></td>
        </tr>
    </table>
</div>
</body>
</html>